* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

span {
    font-size: .8rem;
    position: absolute;
    width: 20%;
    text-align: center;
    text-transform: capitalize;
}

#container {
    width: 100vw;
    height: 100vh;
}

.row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg {
    overflow: hidden;
    border-radius: 50%;
    width: 500px;
    position: relative;
    height: 500px;
    transform: rotate(0deg);
    transition: all .3s ease;
}

svg.active {
    transform: rotate(360deg);
    transition: all .3s ease;
}

.main-circle {
    stroke: white;
    fill: white;
    position: relative;
    r: 100;
}

.circle {
    fill: none;
    stroke: white;
    r: 250;
    stroke-width: 0%;
    transition: all 0.3s ease;
}

.circle.active {
    stroke-width: 100%;
    transition: all 0.3s ease;
}

polygon {
    stroke: white;
    shape-rendering: crispEdges;
    fill: url(#gradient);
    stroke-width: 25px;
    cursor: pointer;
    filter: saturate(1);
    transition: all 0.3s;
}

polygon:hover {
    filter: saturate(2);
    transition: all 0.3s;
}

.circle-content {
    transition: all .5s ease;
    r: 0;
    fill: url(#gradient);
    cursor: pointer;
}

.circle-content.active {
    transition: all .5s ease;
    r: 250;
}


/* TEXTO */

tspan {
    font-size: .9rem;
    fill: #2b2b2b;
    cursor: pointer;
}

tspan.title-center {
    font-size: 2rem;
    fill: #408cd7;
}

tspan.title-center-next {
    font-size: 2rem;
    fill: #408cd7;
    font-weight: bold;
}

tspan.center-section {
    font-size: .8rem;
}

.title-sections {
    display: block;
    transition: all .3s ease;
}

.title-sections.active {
    display: none;
    transition: all .3s ease;
}

.content {
    display: none;
    transition: all .3s ease;
}

.content.active {
    display: block;
    transition: all .3s ease;
}

tspan.title-content {
    font-size: 2rem;
    font-weight: bold;
}